.chatbox-container1 {width:100%; margin-left: auto; margin-right: auto; }
.chatbox1  {
    height: 317px;
    width: 100%;
    padding-top: 9px;
    padding-right: 19px;
    overflow-x: scroll;
    /* overflow-y: auto; */
    margin-bottom: 20px;
    margin-top: 68px;
    box-sizing: border-box;
}
.chat-msg-container1 {
  width: 100%;
  height: 48px;  
  float: left;
}
.chat-msg-container-hodor1 {
  width: 100%;
  height: 55px;  
  padding-top: 2px;
}
.chat-msg-circle1{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    float: left;
    background-image: url("../img/pam.jpg");
    background-position: center;
    background-size: cover;
}
.chat-msg-circle-sign1{
      width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    float: right;
    background-image: url("../img/userenterthis.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.chat-msg-right1,.chat-msg-left1 {
  max-width: 280px;
  margin-top: 10px;
  background-color: #d41654;
  padding: 10px;
  color: #fff;
  border-radius: 5px;  
  word-break:break-all;
  float: right;
  margin-right: 16px;
  font-size: 14px;
}
.chat-msg-right1 {
  float: left;
  background-color: #CCBAC0;
  color: #000;
  text-align: center;
  font-size: 14px;
      margin-left: 19px;
  
}



.honey-boo-boo1 {
  background-image: url('http://i2.kym-cdn.com/photos/images/facebook/000/411/538/786.gif');
  background-size: 100%;
  width: 80px;
  height: 115px;
}

.hodor1 {
  max-width: 280px;

}


/*
.chat-msg-left:before{
  content: " ";
  left: 13px;
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent rgba(255,255,255,0.75) transparent transparent;  
}
.chat-msg-right:before{
  content: " ";
  left: 348px;
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent rgba(255,255,255,0.75);  
}
*/
.chat-input1 {
    border: 0;
    width: 80%;
    height: 38px;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
}

.send1 {
  border: 0;  
  display: inline-block;
  width: 20%;
  height: 38px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #d41654; 
  float: left;
}

.send1:hover{
  background-color: #ff0053;
  color: #000;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease-in-out;
}

/* a:focus {
  background-color: rgba(31, 118, 175,1.0);
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
} */



.chatbox1::-webkit-scrollbar {
  width:10px;
  height:0px;
}
.chatbox1::-webkit-scrollbar-track {
width:30px;

}
.chatbox1::-webkit-scrollbar-thumb {
background-color: rgba(238,20,91,0.4);

.chatbox1::-webkit-scrollbar-thumb:hover{
   background-color: rgba(238,20,91,1.0);
}
